// Base iOS configuration
#include "Base.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = 18.0
PRODUCT_BUNDLE_IDENTIFIER = com.github.yefimtsev.VOEMonitor.iOS
PRODUCT_NAME = VOE Monitor
INFOPLIST_FILE = iOS/Info.plist
CODE_SIGN_ENTITLEMENTS = iOS/VOEMonitorIOS.entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM[sdk=iphoneos*] = SUM249566D
TARGETED_DEVICE_FAMILY = 1
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
