// Base configuration shared between Debug and Release

SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 15.0
PRODUCT_BUNDLE_IDENTIFIER = com.github.yefimtsev.VOEMonitor
PRODUCT_NAME = VOE Monitor
MARKETING_VERSION = 0.0.0
CURRENT_PROJECT_VERSION = 1
INFOPLIST_FILE = VOEMonitor/Info.plist
CODE_SIGN_ENTITLEMENTS = VOEMonitor/VOEMonitor.entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
COMBINE_HIDPI_IMAGES = YES
SWIFT_STRICT_CONCURRENCY = complete
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
